<div class="text-center">
    <p class="footer-text mb-0">
        ©
        <strong>Trung Tâm Chính Trị Phường Xuân Hoà</strong> -
        <strong>Khoa CNTT, Trường Đại Học Kinh Tế Tài Chính TP.HCM (UEF)</strong>
    </p>
</div>