<!DOCTYPE html>
<html lang="vi">
    <head id="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap ICON -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
        rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <!-- Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        defer
    ></script>

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- JsBarcode -->
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

    <!-- QR Code -->
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>


    <!-- Datatable CSS -->
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/moment-2.29.4/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-2hrw5+Yld28NbBC4XPaMK/4iSsjof1GRBn0E14p0qRDpIp6rJgJZ52uN9vwPvwC6" crossorigin="anonymous">

    <!-- Datatable JS -->
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/moment-2.29.4/dt-2.3.2/datatables.min.js" integrity="sha384-Uh22yrs7JfIyhfHtIEBaX/q03H3pjcBI7p/HS7za8XN17A/V4HT+Gg4+Copky4hA" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/datetime-moment.js" ></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Global Config Variable -->
    <script type="text/javascript" src="/js/Configs.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/Style.css" />

    </head>
    <body>
        <div class="d-flex">
            @await Html.PartialAsync("/Views/Layout/Sidebar.cshtml")
            <div class="container-fluid layout-wrapper">
                @await Html.PartialAsync("/Views/Layout/Header.cshtml")
                <main id="content" class="flex-fill">
                    @RenderBody()
                </main>
                @await Html.PartialAsync("/Views/Layout/Footer.cshtml")
            </div>
        </div>


        <!-- PRINT STUDENT CARD AREA -->
        <div id="hiddenStudentCardPrintContainer"></div>

        <div id="hiddenStudentCardsPrintContainer"></div>

    </body>
</html>


@* <style>
    button{
        border-radius: 0 !important;
    }
</style> *@