@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layout/Main.cshtml";
    ViewData["Title"] = "Hỗ trợ kỹ thuật";
}

<div>
    <div class="d-flex justify-content-between align-items-start mb-3">
        <div>
            <h2 class="table-title">Hỗ trợ kỹ thuật</h2>
        </div>

    </div>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Email</th>
                    <th>SĐT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Hoàng Văn Hiếu</td>
                    <td><a href="mailto:hieuhv@uef.edu.vn">hieuhv@uef.edu.vn</a></td>
                    <td><a href="tel:0393171968">0393 171 968</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Lê Anh</td>
                    <td><a href="mailto:leanh0094@gmail.com">leanh0094@gmail.com</a></td>
                    <td><a href="tel:0773000094">0773 000 094</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Vũ Đình Duy</td>
                    <td><a href="mailto:vudinhduyworking2004@gmail.com">vudinhduyworking2004@gmail.com</a></td>
                    <td><a href="tel:0908523182">0908 523 182</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Triệu Gia Khiêm</td>
                    <td><a href="mailto:khiemgiatrieu123@gmail.com">khiemgiatrieu123@gmail.com</a></td>
                    <td><a href="tel:0363772792">0363 772 792</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Trần Đại Vỹ</td>
                    <td><a href="mailto:daivydev.official@gmail.com">daivydev.official@gmail.com</a></td>
                    <td><a href="tel:0945673765">0945 673 765</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nguyễn Thanh Nhàn</td>
                    <td><a href="mailto:nguyenthanhnhan21042004@gmail.com">nguyenthanhnhan21042004@gmail.com</a></td>
                    <td><a href="tel:0765935818">0765 935 818</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>