@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model uef_diem_danh.DTOs.StudyClassCreateRequest
@{
}
<div class="modal fade"
	 id="popupThemLop"
	 tabindex="-1"
	 aria-labelledby="popupThemLopLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupThemLopLabel">Thêm lớp học</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/tao-moi-lop-hoc" id="createStudyClassForm">
					@Html.AntiForgeryToken()

					<div class="mb-2">
						<label class="form-label">Giáo viên phụ trách <span class="text-danger">*</span></label>
						<input type="text"
							   id="themGiaoVien"
							   name="TeacherPhoneNumber"
							   class="form-control"
							   placeholder="VD: Nhập số điện thoại giáo viên" />
					</div>
					<div class="mb-2">
						<label class="form-label">Tên lớp <span class="text-danger">*</span></label>
						<input type="text"
							   id="themTenLop" 
							   name="StudyClassName"
							   class="form-control"
							   placeholder="VD: Lịch sử Đảng" />
					</div>
					<div class="row g-2">
						<div class="col-6">
							<label class="form-label">Ngày bắt đầu <span class="text-danger">*</span></label>
							<input 
								type="date" 
								id="themNgayBD"
								name="StartDate"
								class="form-control" />
						</div>
						<div class="col-6">
							<label class="form-label">Ngày kết thúc <span class="text-danger">*</span></label>
							<input 
								type="date" 
								id="themNgayKT"
								name="EndDate"
								class="form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Đóng
				</button>
				<button 
					type="button" 
					class="btn-next-primary" 
					id="btnLuuLopMoi" 
 					onclick="addStudyClass()"
					form="createStudyClassForm">
					Lưu
				</button>
			</div>
		</div>
	</div>
</div>