@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model uef_diem_danh.DTOs.StudentDeleteRequest

<div class="modal fade"
	 id="popupXoaHocVien"
	 tabindex="-1"
	 aria-labelledby="popupXoaHocVienLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content" method="POST" action="/xoa-hoc-vien" id="deleteStudentForm">
			@Html.AntiForgeryToken()
			<input type="hidden" id="xoaMaHocVien" name="MaHocVien" class="form-control" />

			<div class="modal-header">
				<h5 class="modal-title" id="popupHocVienLabel">Xác nhận xoá</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">Bạn có chắc chắn muốn xoá học viên này không?</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Huỷ
				</button>
				<button type="submit"
						class="btn-next-primary"
						id="btnXacNhanXoaHocVien"
						form="deleteStudentForm">
					Xoá
				</button>
			</div>
		</form>
	</div>
</div>
