@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model uef_diem_danh.DTOs.EventDeleteRequest

<div class="modal fade"
	 id="popupKhoaSuKien"
	 tabindex="-1"
	 aria-labelledby="popupKhoaSuKienLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content" method="POST" action="/khoa-su-kien" id="lockEventForm">
			@Html.AntiForgeryToken()
			<input type="hidden" id="khoaMaSuKien" name="Id" class="form-control" />

			<div class="modal-header">
				<h5 class="modal-title" id="popupSuKienLabel">Xác nhận khoá</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">Bạn có chắc chắn muốn khóa sự kiện này không? Hành động này không thể hoàn tác.</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Huỷ
				</button>
				<button type="submit"
						class="btn-next-primary"
						id="btnXacNhanKhoaSuKien"
						form="lockEventForm">
					Khóa
				</button>
			</div>
		</form>
	</div>
</div>
