@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model uef_diem_danh.DTOs.StaffResetPasswordRequest

<div class="modal fade"
	 id="popupDatLaiMatKhau"
	 tabindex="-1"
	 aria-labelledby="popupDatLaiMatKhauLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content" method="POST" action="/dat-lai-mat-khau" id="resetPasswordForm">
			@Html.AntiForgeryToken()
			<input type="hidden" id="maNhanVien" name="Id" class="form-control" />

			<div class="modal-header">
				<h5 class="modal-title" id="popupNhanVienLabel">Xác nhận đặt lại mật khẩu</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">Bạn có chắc chắn muốn đặt lại mật khẩu của tài khoản nhân viên này thành SĐT không?</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Huỷ
				</button>
				<button type="submit"
						class="btn-next-primary"
						id="btnXacNhanDatLaiMatKhauNhanVien"
						form="resetPasswordForm">
					Đặt lại
				</button>
			</div>
		</form>
	</div>
</div>
