@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade"
	 id="popupSuaLop"
	 tabindex="-1"
	 aria-labelledby="popupSuaLopLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupSuaLopLabel">Sửa lớp học</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/cap-nhat-lop-hoc" id="updateStudyClassForm">
					@Html.AntiForgeryToken()
					<input type="hidden" id="suaMaLop" name="Id" class="form-control" />

					<div class="mb-2">
						<label class="form-label">Giáo viên phụ trách <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaGiaoVien"
							   name="TeacherPhoneNumber"
							   class="form-control"" />
					</div>
					<div class="mb-2">
						<label class="form-label">Tên lớp <span class="text-danger">*</span></label>
						<input type="text" id="suaTenLop" name="StudyClassName" class="form-control" />
					</div>
					<div class="row g-2">
						<div class="col-6">
							<label class="form-label">Ngày bắt đầu <span class="text-danger">*</span></label>
							<input type="date" id="suaNgayBD" name="StartDate" class="form-control" />
						</div>
						<div class="col-6">
							<label class="form-label">Ngày kết thúc <span class="text-danger">*</span></label>
							<input type="date" id="suaNgayKT" name="EndDate" class="form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button 
					type="button"
					class="btn-next-secondary"
					data-bs-dismiss="modal">
					Đóng
				</button>
				<button 
					type="button" 
					class="btn-next-primary" 
					id="btnLuuSuaLop"
					onclick="updateStudyClass()"
					form="updateStudyClassForm">
					Lưu thay đổi
				</button>
			</div>
		</div>
	</div>
</div>