@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

	.update-student-avatar-input {
		width: 100px;
		height: 100px;
		border-radius: 10px;
		border: 1px dashed black
	}

	.overlay-layer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: rgba(255, 255, 255, 0);
		background-color: rgba(0, 0, 0, 0);
		width: 100%;
		height: 100%;
		border-radius: 10px;
		position: absolute;
		top: 0;
		left: 0;
		transition: background-color 0.2s ease, color 0.2s ease;
	}

		.overlay-layer:hover {
			color: rgba(255, 255, 255, 1);
			background-color: rgba(0, 0, 0, 0.7);
		}
</style>

<div class="modal fade"
	 id="popupSuaHocVien"
	 tabindex="-1"
	 aria-labelledby="popupSuaHocVienLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupSuaHocVienLabel">Sửa học viên</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/cap-nhat-hoc-vien" id="updateStudentForm" enctype="multipart/form-data">
					@Html.AntiForgeryToken()
					<input type="hidden" id="suaMaHocVien" name="MaHocVien" class="form-control"/>

					<div class="d-flex justify-content-center mb-2">
						<label class="form-label position-relative" for="suaHinhAnh">
							<img 
								src="https://placehold.co/150x150/0d6efd/FFFFFF?text=AVATAR" 
								alt="Thêm hình ảnh học viên" 
								id="suaHinhAnhPreview"
								class="update-student-avatar-input" />
							<div class="overlay-layer">
								<i class="bi bi-upload"></i>
							</div>
							<input type="file"
								   id="suaHinhAnh"
								   name="HinhAnh"
								   class="form-control"
								   style="display: none" 
								   onchange="changeUpdatePreviewStudentAvatar()" />
						</label>
					</div>

					<div class="mb-2">
						<label class="form-label">Họ <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaHo"
							   name="Ho"
							   class="form-control"
							   placeholder="VD: Nguyễn Văn" />
					</div>
					<div class="mb-2">
						<label class="form-label">Tên  <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaTen"
							   name="Ten"
							   class="form-control"
							   placeholder="VD: Khiêm" />
					</div>
					<div class="mb-2">
						<label class="form-label">Ngày sinh <span class="text-danger">*</span></label>
						<input type="date"
							   id="suaNgaySinh"
							   name="NgaySinh"
							   class="form-control" />
					</div>
					<div class="mb-2">
						<label class="form-label">Địa chỉ <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaDiaChi"
							   name="DiaChi"
							   class="form-control"
							   placeholder="VD: TP.HCM" />
					</div>
					<div class="mb-2">
						<label class="form-label">Email <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaEmail"
							   name="Email"
							   class="form-control"
							   placeholder="VD: abc@gmail.com" />
					</div>
					<div class="mb-2">
						<label class="form-label">Số điện thoại <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaSoDienThoai"
							   name="SoDienThoai"
							   class="form-control"
							   placeholder="VD: 098........" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Đóng
				</button>
				<button type="button"
						class="btn-next-primary"
						id="btnLuuSuaHocVien"
						onclick="updateStudent()"
						form="updateStudentForm">
					Lưu thay đổi
				</button>
			</div>
		</div>
	</div>
</div>