@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade"
	 id="popupSuaBuoiHoc"
	 tabindex="-1"
	 aria-labelledby="popupSuaBuoiHocLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="popupSuaBuoiHocLabel">Sửa Buổi Học</h5>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Đóng"></button>
			</div>
			<div class="modal-body">
				<form method="POST" action="/quan-ly-lop-hoc/@ViewBag.StudyClassId/cap-nhat-buoi-hoc" id="updateClassForm">
					@Html.AntiForgeryToken()
					<input type="hidden" id="suaMaBuoiHoc" name="MaBuoiHoc" class="form-control" />

					<div class="mb-2">
						<label class="form-label">Ngày học <span class="text-danger">*</span></label>
						<input type="date"
							   id="suaNgayHoc"
							   name="NgayHoc"
							   class="form-control" />
					</div>
					<div class="mb-2">
						<label class="form-label">Tên Buổi Học <span class="text-danger">*</span></label>
						<input type="text"
							   id="suaTenBuoiHoc"
							   name="TenBuoiHoc"
							   class="form-control" />
					</div>
					<div class="mb-2">
						<label class="form-label">Tiết Học</label>
						<input type="number"
							   id="suaTietHoc"
							   name="TietHoc"
							   class="form-control"
							   min=1 />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn-next-secondary"
						data-bs-dismiss="modal">
					Đóng
				</button>
				<button type="button"
						class="btn-next-primary"
						id="btnLuuSuaBuoiHoc"
						onclick="updateClass()"
						form="updateClassForm">
					Lưu thay đổi
				</button>
			</div>
		</div>
	</div>
</div>
