@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model uef_diem_danh.DTOs.AttendanceCheckingViewResponse
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Điểm danh</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            defer></script>

     <!-- Moment JS -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    @* <!-- Barcode Generator JS -->
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.12.1/dist/barcodes/JsBarcode.code128.min.js"></script> *@

    <link rel="stylesheet" href="../../css/style.css" />
</head>
<body>

    <div class="container-fluid px-lg-5 py-lg-5">

        <input type="text" class="form-control" id="studentBarcodeInput" name="studentBarcodeInput" oninput="updateStudentBarcode()" placeholder="Mã barcode của học viên...." />

        <div class="px-3 py-2">
            <div class="bg-success p-2 text-white" id="checkingAttendanceSuccessfulMessage" style="display: none">
            </div>
            <div class="bg-danger p-2 text-white" id="checkingAttendanceFailedMessage" style="display: none">
            </div>
        </div>

        <div class="row top-row">
            <div class="box barcode-box">
                <div class="barcode">
                    <svg id="studentBarcode"></svg>
                </div>
            </div>
            <div class="box info-box">
                <p><strong>Lớp:</strong> <span id="studyClassNameInfo">@Model.StudyClassName</span></p>
                <p><strong>Buổi:</strong> <span id="classSessionNumberInfo">@Model.ClassSessionNumber</span></p>
                <input type="hidden" name="classSessionIdInput" id="classSessionIdInput" value="@Model.ClassSessionId" />
            </div>
        </div>

        <div class="row bottom-row">
            <div class="box history-box">
                <h3>Lịch sử điểm danh</h3>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Lớp</th>
                                <th>Thời gian</th>
                            </tr>
                        </thead>
                        <tbody id="latestAttendenceTableBody"> 
                            <tr id="loadingRow" style="display: none">
                                <td colspan="3">
                                    <span class="loader"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box user-box">
                <img src="https://placehold.net/avatar.svg" alt="Ảnh học viên" class="avatar" />
                <p id="fullNameInfo" class="username"></p>
                <p id="phoneNumberInfo" class="phone"></p>
                <p class="success-msg" id="attendanceCheckingSuccessInfo">
@*                     <span>Điểm danh thành công!</span>
                    <br />
                    <span>10/8/2025 09:30:00</span> *@
                </p>
            </div>
        </div>
    </div>

    <script src="/js/AttendanceChecking.js"></script>
</body>
</html>
